<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.rv.springproject"/>
    <!--    bean definitions here-->

    <bean id="ide" class="com.rv.springproject.MyRustIDE"></bean>
<!--    <bean id="framework" class="com.rv.springproject.JavaWorld"></bean>-->

<!--    <bean id="pythonBean" class="com.rv.springproject.PythonWorld">-->
<!--        <constructor-arg ref="framework"/>-->
<!--    </bean>-->

</beans>